body{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
	padding:0;
	margin:0;
	background-color:FBFBFB;
}

/* Global */
.container{
	width:auto;
	margin:auto;
	overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:auto;
  background:#FFC300;
  border:0;
  padding-left:10px;
  padding-right:10px;
  color:#2C1616;
}

.dark{
  padding:15px;
  background:#;
  color:#ffffff;
  margin-top:px;
  margin-bottom:px;
}

/* Header */
header{
	background:#FFFFFF;
	color:#ffffff;
	padding-top:0.1px;
	min-height:1px;
	border-bottom:#000000 0px solid;
}

header ul{
	margin:auto;
	padding:0px;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}

header #branidng{
	float:left;
	margin-top:1px;
}

header #branding h1{
	margin-top:1px;
}

header nav{
	float:right;
	margin-top:0px;
	padding-top:0px;
	min-height:auto;
	height:100;
}

header .highlight, header .current a{
	color:#000000;
	font-weight:bold;
}

header .highlight, header .desley a{
	color:#000000;
	font-weight:bold;
}

header a:hover{
	color:#EB0D0D;
	font-weight:bold;
}

logo img{
	margin-left: 0px 0px 0px 30px;
	width: 200px;
	
	
}

/* Showcase */
#showcase{
	min-height:50px;
	background:url('../Images/image 1.jpg') no-repeat 0 -190px; 
	float: center;
	text-align:center;
	color:#ffffff;
}

#showcase h1{
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
}

#showcase p{
	font-size:20px
}

#newsletter{
	padding:15px;
	color:#000000;
	background:#F9F9F9;
}

/* Sidebar */
aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

/* Main-col */
article#main-col{
	float:center;
	width:100%;
}

footer{
	padding:10px;
	margin-top:0px;
	color:FFFFFF#;
	background-color:#D6D6D6;
	text-align:center;
}

/* Showcase */
#Showcase{
	min-height:400px;
	background:url('../Pictures/Photo Gallery 5.jpg') no-repeat 0 -150px;
	text-align:center;
	color:#ffffff;
}














